.costFilterWrap {
  padding-top: 20px;

  div {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    margin: 0 5px;
    cursor: pointer;

    width: 36px;
    height: 36px;
    line-height: 36px;
    background-color: #01579b ;

    &:hover,
    &.active {
      background-color: #0288d1;
    }
  }
}
