[type="radio"]:checked+.noneRadio:after {
  border-color: #bbb;
  background-color: #bbb;
}

[type="radio"]:checked+.commonRadio:after {
  border-color: #fff;
  background-color: #fff;
}

[type="radio"]:checked+.rareRadio:after {
  border-color: #0288d1;
  background-color: #0288d1;
}

[type="radio"]:checked+.epicRadio:after {
  border-color: #7b1fa2;
  background-color: #7b1fa2;
}

[type="radio"]:checked+.legendaryRadio:after {
  border-color: #ff6f00;
  background-color: #ff6f00;
}
